<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bobm_waiting_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>bobm_waiting_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>bobm_waiting_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>bobm_waiting_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>bobm_waiting_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>bobm_waiting_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,184},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wait_bobm.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a084626b5e5feac8d308ad75c595636:1/1$</string>
            <key>textureFileName</key>
            <string>wait_bobm.png</string>
        </dict>
    </dict>
</plist>
