<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>best_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>finish_animation_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{276,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,237}}</string>
                <key>sourceSize</key>
                <string>{276,237}</string>
            </dict>
            <key>gold_count_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{193,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,65}}</string>
                <key>sourceSize</key>
                <string>{193,65}</string>
            </dict>
            <key>kill_count_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,241},{243,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,86}}</string>
                <key>sourceSize</key>
                <string>{243,86}</string>
            </dict>
            <key>push_home_hightLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>push_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,329},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>replay_game_hightLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,329},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>replay_game_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,329},{109,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,106}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>score_star_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,329},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>score_star_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_finish.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47212f44d0cee704a84fec414791a355:1/1$</string>
            <key>textureFileName</key>
            <string>game_finish.png</string>
        </dict>
    </dict>
</plist>
