<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_eight.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>balloon_knot.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_ladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_lessthan.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_plait.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>balloon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>balloon_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,112},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>balloon_wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,112},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>balloon_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,112},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>big_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,112},{130,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,114}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>big_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,112},{137,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,111}}</string>
                <key>sourceSize</key>
                <string>{137,111}</string>
            </dict>
            <key>big_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,112},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>big_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,112},{117,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,97}}</string>
                <key>sourceSize</key>
                <string>{117,97}</string>
            </dict>
            <key>big_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{120,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,113}}</string>
                <key>sourceSize</key>
                <string>{120,113}</string>
            </dict>
            <key>blue_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,228},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>blue_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,228},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>blue_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,228},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>blue_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,228},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>blue_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,228},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>blue_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,228},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>blue_fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,228},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>blue_fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,228},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>blue_fly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,228},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>blue_fly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,228},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,346},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,346},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,346},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,346},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,346},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,346},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,346},{113,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,105}}</string>
                <key>sourceSize</key>
                <string>{113,105}</string>
            </dict>
            <key>box_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,346},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,346},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>green_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,346},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>green_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>green_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,466},{99,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,116}}</string>
                <key>sourceSize</key>
                <string>{99,116}</string>
            </dict>
            <key>green_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,466},{100,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,119}}</string>
                <key>sourceSize</key>
                <string>{100,119}</string>
            </dict>
            <key>green_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,466},{103,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,118}}</string>
                <key>sourceSize</key>
                <string>{103,118}</string>
            </dict>
            <key>green_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,466},{105,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,116}}</string>
                <key>sourceSize</key>
                <string>{105,116}</string>
            </dict>
            <key>green_fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,466},{107,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,111}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>green_fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,466},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,466},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>ice_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,466},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>ice_eight.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,466},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>ice_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,466},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>ice_lightning.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,466},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>ice_than.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,466},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>ice_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>ice_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,598},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>iron_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,598},{121,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,117}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>iron_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,598},{118,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,121}}</string>
                <key>sourceSize</key>
                <string>{118,121}</string>
            </dict>
            <key>iron_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,598},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>iron_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,598},{121,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,125}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>life_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,598},{154,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,58}}</string>
                <key>sourceSize</key>
                <string>{154,58}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,598},{55,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>purple_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,598},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,103}}</string>
                <key>sourceSize</key>
                <string>{111,103}</string>
            </dict>
            <key>purple_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,598},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>purple_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>purple_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,725},{102,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,76}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>purple_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,725},{102,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>purple_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,725},{104,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>sprit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,725},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>sprit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,725},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>sprit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,725},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>sprit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,725},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>sprit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,725},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>sprit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,725},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>star_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,725},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>star_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,725},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>start_blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,725},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>start_cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,725},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>start_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,725},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>start_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,725},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>start_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,725},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>start_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,725},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>time_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{154,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,58}}</string>
                <key>sourceSize</key>
                <string>{154,58}</string>
            </dict>
            <key>yellow_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,804},{124,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,121}}</string>
                <key>sourceSize</key>
                <string>{124,121}</string>
            </dict>
            <key>yellow_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,804},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>yellow_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,804},{124,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,116}}</string>
                <key>sourceSize</key>
                <string>{124,116}</string>
            </dict>
            <key>yellow_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,804},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>yellow_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,804},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>yellow_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,804},{117,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,103}}</string>
                <key>sourceSize</key>
                <string>{117,103}</string>
            </dict>
            <key>yellow_fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,804},{125,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,118}}</string>
                <key>sourceSize</key>
                <string>{125,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5e54aaf2b87523c22cc9f8014f3996a:1/1$</string>
            <key>textureFileName</key>
            <string>game_01.png</string>
        </dict>
    </dict>
</plist>
