<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_life_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,208},{226,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,58}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>back_icon_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,93},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>back_icon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,93},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>big_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bobm_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{243,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,59}}</string>
                <key>sourceSize</key>
                <string>{243,59}</string>
            </dict>
            <key>bobm_icon_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{85,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,89}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>bobm_icon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>buy_prop_fail_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,276},{402,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,337}}</string>
                <key>sourceSize</key>
                <string>{402,337}</string>
            </dict>
            <key>cancel_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>gold_doble_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,208},{238,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,58}}</string>
                <key>sourceSize</key>
                <string>{238,58}</string>
            </dict>
            <key>gold_doble_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>gold_doble_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>life_add_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,93},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>life_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>ok_icon_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,208},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>ok_icon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,93},{122,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,60}}</string>
                <key>sourceSize</key>
                <string>{122,60}</string>
            </dict>
            <key>prpo_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,276},{283,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,479}}</string>
                <key>sourceSize</key>
                <string>{283,479}</string>
            </dict>
            <key>resume_icon_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,93},{111,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>resume_icon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,93},{114,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,113}}</string>
                <key>sourceSize</key>
                <string>{114,113}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>start_game_icon_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,93},{135,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,61}}</string>
                <key>sourceSize</key>
                <string>{135,61}</string>
            </dict>
            <key>start_game_icon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{135,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,61}}</string>
                <key>sourceSize</key>
                <string>{135,61}</string>
            </dict>
            <key>timeModel_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,208},{238,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,58}}</string>
                <key>sourceSize</key>
                <string>{238,58}</string>
            </dict>
            <key>time_add_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>time_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseGame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:893fbbbd09bd8aafe7082e066cab7c0f:1/1$</string>
            <key>textureFileName</key>
            <string>pauseGame.png</string>
        </dict>
    </dict>
</plist>
