<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>200_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>300_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>all_gold_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{193,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,50}}</string>
                <key>sourceSize</key>
                <string>{193,50}</string>
            </dict>
            <key>life_add2_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,265},{226,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,58}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>life_add4_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,325},{226,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,58}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>life_add6_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{226,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,58}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>prop_life_add2_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,170},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>prop_life_add2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,79},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>prop_life_add4_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,170},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>prop_life_add4_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>prop_life_add6_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,170},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>prop_life_add6_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>prop_slowDown_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,445},{243,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,60}}</string>
                <key>sourceSize</key>
                <string>{243,60}</string>
            </dict>
            <key>prop_slowDown_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>prop_slowDown_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>prop_time_30_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,79},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>prop_time_30_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>prop_time_60_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,79},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>prop_time_60_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>prop_time_90_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,79},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>prop_time_90_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>time_add30_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,385},{238,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,58}}</string>
                <key>sourceSize</key>
                <string>{238,58}</string>
            </dict>
            <key>time_add60_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{238,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,58}}</string>
                <key>sourceSize</key>
                <string>{238,58}</string>
            </dict>
            <key>time_add90_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{238,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,58}}</string>
                <key>sourceSize</key>
                <string>{238,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop_image.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ccf068b1a60d78f40af7fdc476fcc2d:1/1$</string>
            <key>textureFileName</key>
            <string>prop_image.png</string>
        </dict>
    </dict>
</plist>
