<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{219,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,99}}</string>
                <key>sourceSize</key>
                <string>{219,99}</string>
            </dict>
            <key>back_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,105},{233,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,106}}</string>
                <key>sourceSize</key>
                <string>{233,106}</string>
            </dict>
            <key>blog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,2},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>blog_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,421},{265,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,194}}</string>
                <key>sourceSize</key>
                <string>{265,194}</string>
            </dict>
            <key>blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{265,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,195}}</string>
                <key>sourceSize</key>
                <string>{265,195}</string>
            </dict>
            <key>blue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,814},{265,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,197}}</string>
                <key>sourceSize</key>
                <string>{265,197}</string>
            </dict>
            <key>blue_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,814},{265,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,196}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,814},{265,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,196}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,617},{265,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,195}}</string>
                <key>sourceSize</key>
                <string>{265,195}</string>
            </dict>
            <key>blue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,814},{265,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,195}}</string>
                <key>sourceSize</key>
                <string>{265,195}</string>
            </dict>
            <key>blue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,617},{265,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,195}}</string>
                <key>sourceSize</key>
                <string>{265,195}</string>
            </dict>
            <key>blue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,421},{265,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,193}}</string>
                <key>sourceSize</key>
                <string>{265,193}</string>
            </dict>
            <key>blue_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,421},{265,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,193}}</string>
                <key>sourceSize</key>
                <string>{265,193}</string>
            </dict>
            <key>blue_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,617},{265,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,195}}</string>
                <key>sourceSize</key>
                <string>{265,195}</string>
            </dict>
            <key>blue_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,814},{265,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,196}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>blue_click_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,421},{197,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,178}}</string>
                <key>sourceSize</key>
                <string>{197,178}</string>
            </dict>
            <key>blue_click_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,253},{194,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,166}}</string>
                <key>sourceSize</key>
                <string>{194,166}</string>
            </dict>
            <key>blue_click_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{197,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,172}}</string>
                <key>sourceSize</key>
                <string>{197,172}</string>
            </dict>
            <key>blue_click_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,253},{184,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,164}}</string>
                <key>sourceSize</key>
                <string>{184,164}</string>
            </dict>
            <key>blue_click_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,253},{197,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,164}}</string>
                <key>sourceSize</key>
                <string>{197,164}</string>
            </dict>
            <key>blue_click_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,253},{179,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,163}}</string>
                <key>sourceSize</key>
                <string>{179,163}</string>
            </dict>
            <key>blue_click_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,253},{199,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,163}}</string>
                <key>sourceSize</key>
                <string>{199,163}</string>
            </dict>
            <key>blue_click_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,253},{180,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,164}}</string>
                <key>sourceSize</key>
                <string>{180,164}</string>
            </dict>
            <key>blue_click_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,253},{187,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,163}}</string>
                <key>sourceSize</key>
                <string>{187,163}</string>
            </dict>
            <key>eye_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,253},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_blink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,253},{177,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,148}}</string>
                <key>sourceSize</key>
                <string>{177,148}</string>
            </dict>
            <key>eye_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_blink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,253},{177,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,148}}</string>
                <key>sourceSize</key>
                <string>{177,148}</string>
            </dict>
            <key>eye_blink_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>eye_blink_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,253},{177,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,148}}</string>
                <key>sourceSize</key>
                <string>{177,148}</string>
            </dict>
            <key>eye_blink_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,105},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{219,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,99}}</string>
                <key>sourceSize</key>
                <string>{219,99}</string>
            </dict>
            <key>guard_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,105},{233,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,106}}</string>
                <key>sourceSize</key>
                <string>{233,106}</string>
            </dict>
            <key>home_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1015},{768,1023}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1023}}</string>
                <key>sourceSize</key>
                <string>{768,1023}</string>
            </dict>
            <key>home_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1015},{584,295}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{584,295}}</string>
                <key>sourceSize</key>
                <string>{592,335}</string>
            </dict>
            <key>like.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,2},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>like_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,105},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>music_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>setting_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>share_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>shopCart.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>shopCart_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>sound_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{217,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,97}}</string>
                <key>sourceSize</key>
                <string>{217,97}</string>
            </dict>
            <key>start_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,105},{233,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,105}}</string>
                <key>sourceSize</key>
                <string>{233,105}</string>
            </dict>
            <key>time_model.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{219,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,99}}</string>
                <key>sourceSize</key>
                <string>{219,99}</string>
            </dict>
            <key>time_model_hight.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,105},{235,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,105}}</string>
                <key>sourceSize</key>
                <string>{235,105}</string>
            </dict>
            <key>yellow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,421},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,421},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,617},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,421},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,617},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_nomarl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,617},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_nomarl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,617},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>yellow_nomarl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,814},{225,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,199}}</string>
                <key>sourceSize</key>
                <string>{225,199}</string>
            </dict>
            <key>yellow_nomarl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{224,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,205}}</string>
                <key>sourceSize</key>
                <string>{224,205}</string>
            </dict>
            <key>yellow_nomarl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1015},{225,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,209}}</string>
                <key>sourceSize</key>
                <string>{225,209}</string>
            </dict>
            <key>yellow_nomarl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1015},{220,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,207}}</string>
                <key>sourceSize</key>
                <string>{220,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start_home.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bce23c7e0c14e51da5afdee72b23bca:1/1$</string>
            <key>textureFileName</key>
            <string>start_home.png</string>
        </dict>
    </dict>
</plist>
